[submodule "carGame"]
	path = carGame
	url = https://github.com/donlinglok/carGame.git
[submodule "kof"]
	path = kof
	url = https://github.com/donlinglok/kof
[submodule "jumpjump"]
	path = jumpjump
	url = https://github.com/donlinglok/jumpjump.git
