[submodule "carGame"]
	path = carGame
	url = https://github.com/donlinglok/carGame.git
[submodule "kof"]
	path = kof
	url = https://github.com/donlinglok/kof
[submodule "jumpjump"]
	path = jumpjump
	url = https://github.com/donlinglok/jumpjump.git
[submodule "elevator"]
	path = elevator
	url = https://github.com/donlinglok/elevator.git
[submodule "jump"]
	path = jump
	url = https://github.com/donlinglok/jump.git
